.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: white !important; }
  @media screen and (min-width: 600px) {
    header {
      background: url("./../assets/header_bg.svg") no-repeat center; } }
  @media screen and (min-width: 900px) {
    header {
      background: url("./../assets/header_bg.svg") no-repeat center; } }

#logo {
  width: 100%;
  background-image: url("./../assets/logo.svg");
  background-repeat: no-repeat;
  background-position: left; }
  @media screen and (min-width: 600px) {
    #logo {
      margin-left: 40px;
      background-image: url("./../assets/logo.svg");
      background-repeat: no-repeat;
      background-position: center; } }
  @media screen and (min-width: 900px) {
    #logo {
      margin-left: 40px;
      background-image: url("./../assets/logo.svg");
      background-repeat: no-repeat;
      background-position: center; } }

#plus-box {
  color: red;
  height: 30px;
  width: 30px;
  border: 1px orange solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  margin-right: 10px; }

#plus-box:hover {
  background-color: orange;
  color: white;
  border: 2px orangel solid; }

#menu {
  height: 50px;
  background-color: #3a3a3c;
  color: #7B7C7E;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.menu-action {
  align-items: center; }

#random {
  color: #7B7C7E;
  display: inline-block; }

#random:hover {
  color: orange; }

#boards {
  color: #7B7C7E;
  display: inline-block; }

#boards:hover {
  color: orange; }

#app {
  color: #7B7C7E;
  display: inline-block; }

#app:hover {
  color: orange; }

.DOT {
  color: #3a3a3c; }
  @media screen and (min-width: 600px) {
    .DOT {
      color: #7B7C7E;
      margin-left: 10px;
      margin-right: 10px; } }
  @media screen and (min-width: 900px) {
    .DOT {
      color: #7B7C7E;
      margin-left: 10px;
      margin-right: 10px; } }

body {
  display: flex;
  flex-flow: column wrap;
  background-image: url("https://raw.githubusercontent.com/devleague/rebirth-of-reddit/master/assets/bg.jpg");
  font-family: 'Oswald', sans-serif; }

.container {
  width: 450px;
  height: 500px;
  padding-top: 20px;
  margin-left: 25px; }

.outerContainer {
  background-color: white;
  display: inline-block;
  position: relative;
  overflow: auto;
  width: 450px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  box-sizing: border-box;
  justify-content: center; }

.outerContainer:hover {
  outline: orange solid 4px; }

.image {
  width: 400px;
  height: 305px;
  background-size: cover;
  background-position: center; }

.title {
  width: 400px;
  font-size: 30px; }

.author {
  width: 400px;
  font-size: 15px; }

.date {
  width: 400px;
  font-size: 15px; }

footer {
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: black; }

.instagram:hover {
  background: url("./../assets/instagram_orange.svg") no-repeat center; }
